:root {
  /* Seplom Colors */
  --seplom-white: #ffffff;
  --seplom-bg: #00022e;
  --seplom-yellow: #fea074;
  --seplom-blue: #00d0ff;
  --seplom-pink: #f40087;
  --seplom-pink-soft: #fd60ad;
  --seplom-blue-black: #06083f;
  --seplom-blue-card: #223167;
  --seplom-blue-about: #007DFF;
  /* Gradients */
  --seplom-gradient-yellow: linear-gradient(
    95.82deg,
    #fd5db0 0%,
    #fe9a7a 96.69%
  );
  --seplom-gradient-blue: linear-gradient(90deg, #00d0ff 0%, #007dff 100%);
  --seplom-gradient-pink: linear-gradient(90deg, #f40087 0%, #ff00cc 100%);
  /* Gradients Cards */
  --seplom-gradient-promotion: linear-gradient(
    45deg,
    #ff0088,
    #d900ff,
    #00e1ff,
    #4058e2,
    #11035e,
    #1d0d75,
    #7a00ff,
    #ff00c8,
    #970277
  );
  /* Fonts */
  --seplom-weight: 900;
  --seplom-weight-titles: 700;
  --seplom-size: 16px;
  --seplom-title-union: 25px;
  /* Transitions */
  --seplom-transition: 250ms;
  /* Displays */
  --seplom-display-flex: flex;
  /* Buttons */
  --seplom-padding-btn: 10px;
  --seplom-height-btn: 50px;
  --seplom-width-btn: 130px;
  --seplom-radius-btn: 10px;
  /* Paddings */
  --seplom-padding-text: 20px;
  /* Serivices Medidas */
  --seplom-title-services: 25px
}

a:-webkit-any-link {
  text-decoration: none;
}

input:focus-visible {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--seplom-bg);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: var(--seplom-white);
}